@charset "UTF-8";

.calendarBtn {
	width: 28px;
	height: auto;
}

#year {
	font-size: 15px;
	color: #5E5E5E;
}

#month {
	width: 280px;
	font-size: 30px;
} 

#calendar {
	width: 340px;
	height: auto;
	border-radius: 20px / 20px;
	margin: 0 auto;
	color: #404040;
	font-family: 12LotteMartDreamLight;
	font-weight: bold;
}

th, td {
	width: 42px;
	height: 42px;
	padding: 0;
}

th {
	color: #5E5E5E;
	font-weight: normal;
}

td:first-child {
	color: #EA0000;
}

.active {
	background-color: #22AA4D;
	border-radius: 50%;
	color: #FFFFFF !important;
}

#to-doTitle {
	width: 320px;
	color: #3D3D3D;
	margin: 25px auto 15px auto;
}

#to-doList {
	width: 290px;
	height: auto;
	border-radius: 20px / 20px;
	margin: 0 auto;
}

.to-do {
	width : calc(100% - 30px);
	width : -moz-calc(100% - 30px);
	width : -webkit-calc(100% - 30px);
	width : -o-calc(100% - 30px);
	height : calc(100% - 20px);
	height : -moz-calc(100% - 20px);
	height : -webkit-calc(100% - 20px);
	height : -o-calc(100% - 20px);
	padding: 10px 15px;
	border-radius: 10px / 10px; 
}

.time {
	font-size: 12px;
}

.floating {
	width: 35px;
	height: auto;
	border-radius: 50%;
	position: fixed;
	right: 25px;
	bottom: 100px;
}

.do {
	width: 260px;
	border-radius: 15px / 15px;
	font-size: 14px;
	padding: 10px 15px;
	font-weight: normal;
	color: #FFFFFF;
}

.c-0 {
	background-color: #F5AA00;	
}

.c-1 {
	background-color: #AACC03;	
}

.c-2 {
	background-color: #29753B;	
}

.c-3 {
	background-color: #E8474B;	
}

.c-title {
	font-size: 25px;
	color: #000000;
}

.c-text {
	font-size: 22px;
	color: #606060;
}

#who {
	z-index: 1;
	position: fixed;
    left: 0;
    right: 0;
    bottom: -235px;
    height: 145px;
    border-radius: 40px 40px 0 0;
    padding: 45px;
}