@charset "UTF-8";

.growthBox {
	width: 160px;
	height: 100px;
	background-color: #FFFFFF;
	border-radius: 10% / 15%;
	margin: 5px;
	padding: 15px 10px 10px 10px;
}

.growthBox div {
	color: #707070;
	font-size: 40px;
}

.growthBox img {
	width: 45px;
	height: auto;
}