@charset "UTF-8";


.title_tip {
	margin: 45px 0 35px 0;
	font-size: 28px;
	font-weight: bold;
}



.labelsetting {
	margin: 0 auto;
	margin-top:15px;
	margin-bottom: 10px;
}

.labelNick {
	width: 250px;
}

.labelrobo {
	width:170px;
}

.textBox {
	width: 245px;
	height: 26px;
	border-radius: 30px 30px;
	border: 2px solid #B7B7B7;
}

.labelBox {
	margin: 0 auto;
	width: 190px;
	text-align: left;
}

.roboBox {
	width: 190px;
	height: 50px;
	margin-top: -10px;
	background-color: #FFFFFF;
	border-radius: 30px 30px;
	border: 2px solid #B7B7B7;
}

.okBox {
	width: 127px;
	height: 45px;
	border-radius: 17% / 50%;
	margin: 0 5px 0px 10px;
}

.t-a-l {
	text-align: left;
}

.t-a-r {
	text-align: right;
}

.b-n {
	border: none;
}

.ud-img {
	width:25px;
	height: auto;
}

.ud-div {
	width:35px;
}

.m-t-40 {
	margin-top:40px;
}