@charset "UTF-8";


.title_tip {
	margin: 45px 0 35px 0;
	font-size: 28px;
	font-weight: bold;
}


.crop-imgBox {
   width: 190px;
   height : 190px;
   background-color: #FFFFFF;
   border-radius: 50%;
   margin: 0 auto;
}




.labelsetting {
	margin: 0 auto;
	margin-top:15px;
	margin-bottom: 10px;
}

.labelNick {
	width: 340px;
}

.labelrobo {
	width:170px;
}

.textBox {
	width: 220px;
	height: 45px;
	border-radius: 30px 30px;
	border: 2px solid #B7B7B7;
}

.labelBox {
	margin: 0 auto;
	width: 190px;
	text-align: left;
}

.categoryintitle {
	font-size: 20px;
	width: 115px;
	text-align: center;
}

.categoryBox {
	width: 135px;
	height: 100px;
	background-color: #FFFFFF;
	border-radius: 20px 20px;
	margin: 10;
	display: inline-block;
}

.crop_tip_Box{
	width: 330px;
	height: auto;
	background-color: #FFFFFF;
	border-radius: 20px 20px;
	margin: 10;
	display: inline-block;
	
}

.crop_tip_content{
	font-size: 18px;
	width: 310px;
	text-align: left;
}

.temperature_label{
	font-size: 18px;
	text-align: right;
	float: right;
}

.temperature_label_high {
	color: color: #E8474B;
}

.HF-Tip_Blue{
	color: Blue;
}

.tip_whether-img{
	width:25px;
	height: auto;
}


.pest_info_box{
	width: 280px;
	height: 280px; 
	background-color: #FFFFFF;
	border-radius: 20px 20px;
	margin: 10;
	display: inline-block;
	
}



.pest_infointitle{
	font-size: 18px;
	width: 230px;
	text-align: center;
	margin: 20px;
}

.pest_infoinContent{
	font-size: 18px;
	width: 230px;
	height : 180px;
	text-align: left;

}

.pest_infoFooter{
	font-size: 18px;
	width: 230px;
	height : auto;
	text-align: right;
	
}

.cropBox{
	width: 330px;
	height: 60px;
	background-color: #FFFFFF;
	border-radius: 20px 20px;
	margin: 10;
	display: inline-block;
	
	
}

.cropintitle{
	font-size: 30px;
	width: 90px;
	padding-top:11px;
	display: inline-block;
	text-align: right;
}

.issueBox {
	width: 350px;
	height: 50px;
	margin-top: -10px;
	background-color: #FFFFFF;
	border-radius: 30px 30px;
	border: 2px solid #B7B7B7;
}

.okBox {
	width: 127px;
	height: 45px;
	border-radius: 17% / 50%;
	margin: 0 5px 0px 10px;
}

.t-a-l {
	text-align: left;
}

.t-a-r {
	text-align: right;
}

.b-n {
	border: none;
}

.ud-img {
	width:50px;
	height: auto;
}

.tip_back-img{
	width:25px;
	height: auto;
}

.crop-img{
	width: 90px;
	height: auto;
	float: left;
	margin-left: 5px;
	margin-right: 65px;
	
	
}
.heart-img{
	width: 40px;
	height: auto;
	margin-right: 35px;
	display: inline-block;
	
}

.crop_heart-img{
	width: 35px;
	height: auto;
	margin-right: 20px;
	margin-top: 10px;
	display: inline-block;
	float: right;
}

.wish_toggle-img::before{
	
}

.ud-div {
	width:35px;
}

.m-t-40 {
	margin-top:40px;
}