@charset "UTF-8";


.title_tip {
	margin: 45px 0 35px 0;
	font-size: 28px;
	font-weight: bold;
}



.labelsetting {
	margin: 0 auto;
	margin-top:15px;
	margin-bottom: 10px;
}

.labelNick {
	width: 340px;
}

.labelrobo {
	width:170px;
}

.textBox {
	width: 290px;
	height: 48px;
	border-radius: 30px 30px;
	border: 2px solid #B7B7B7;
}

.labelBox {
	margin: 0 auto;
	width: 190px;
	text-align: left;
}

.categoryintitle {
	font-size: 20px;
	width: 115px;
	text-align: center;
}

.categoryBox {
	width: 135px;
	height: 100px;
	background-color: #FFFFFF;
	border-radius: 20px 20px;
	margin: 10;
	display: inline-block;
}

.issueBox {
	width: 350px;
	height: 50px;
	margin-top: -10px;
	background-color: #FFFFFF;
	border-radius: 30px 30px;
	border: 2px solid #B7B7B7;
}

.okBox {
	width: 127px;
	height: 45px;
	border-radius: 17% / 50%;
	margin: 0 5px 0px 10px;
}

.t-a-l {
	text-align: left;
}

.t-a-r {
	text-align: right;
}

.b-n {
	border: none;
}

.ud-img {
	width:50px;
	height: auto;
}

.ud-div {
	width:35px;
}

.m-t-40 {
	margin-top:40px;
}